body {
    background-color: #f8f8ff;
}

header {
    /* height: 85.5vh; */
    margin-bottom: 3px;
    overflow: hidden;
}
header .upper_section {
    display: flex;
    justify-content: center;
    height: 100px;
    padding-top: 4px;
    margin-bottom: 15px;
    background-color: rgb(68, 140, 255);
}
header .upper_section > * {
    margin: 0 20px;
}

header .logo {
    background-image: url("../image/pulse-trace-163708.jpg");
    background-size: cover;
    background-position: center;
    width: 85px;
    height: 85px;
    border-radius: 50%;
}

header .heading span {
    color: white;
    text-transform: uppercase;
    display: block;
}
header .text3 {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 8px;
    position: relative;
    animation: text3 3s normal forwards;
}
header .text4 {
    font-size: 30px;
    position: relative;
    left: 35px;
    animation: text3 3s normal forwards;
}
@keyframes text3 {
    0% {
        color: black;
        margin-bottom: -15px;
    }
}






header .background_container {
    height: 452px;
    background-image: url("../image/dna-3539309_1920.jpg");
    background-position: center;
    background-size: cover;
    animation: background_container 22s infinite;
    animation-timing-function: linear;
}
@keyframes background_container {
    25% {
        background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/39/The_hospital_building_on_the_left_and_Clinic_on_the_right.jpg");
    }
    50% {
        background-image: url("../image/meditation-1384758_1920.jpg");
    }
    75% {
        background-image: url("../image/virus-4931227.jpg");
    }
    100% {
        background-image: url("../image/dna-3539309_1920.jpg");
    }
}



header .container {
    color: white;
    position: relative;
    top: 40px;
    left: 40px;
    width: 50%;
    height: 350px;
    padding: 10px;
    overflow: auto;
    
    scrollbar-width: none;
    -moz-backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(50px);
}
header .container::-webkit-scrollbar {
    width: 0px;
}
header .container span {
    text-transform: uppercase;
    display: block;
}
header .text1 {
    color: inherit;
    width: 90%;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 30px;
    position: relative;
}
header .text2 {
    font-size: 23px;
    font-weight: 600;
    color: inherit;
    word-spacing: 12px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
header .button {
    position: relative;
    color: black;
    font-size: 28px;
    left: 40px;
    top: 20px;
    padding: 10px;
    white-space: nowrap;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid black;
}
header .button:hover {
    color: black;
    background-color: white;
    border-color: black;
}
header .button:active {
    border: transparent;
    color: white;
    background-color: rgb(68, 140, 255);
}


main {
    width: 75%;
    margin: 30px auto;
}

main > * {
    margin: 100px 0;
}