
nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: baseline;


    color: white;
    background-color: rgb(68, 140, 255);
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);

    position: sticky;
    top: 8px;
    z-index: 10;

    margin: 10px;
}

nav a {
    font-size: 1.2em;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid white;
    padding: 10px 20px;
    margin: 0 10px;
}

nav a:hover {
    color: black;
    background-color: white;
    border-bottom-color: black;
}





.search_box{
    margin-left: auto;
    margin-right: 10px;
}
.search_box input{
    padding: 7px;
    border: none;
    font-size: 16px;
    font-family: sans-serif;
}
.search_box input:focus {
    outline: none;
}
.search_box button{
  float: right;
  
  color: white;
  background: rgb(255, 0, 119);

  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;

  font-family: sans-serif;
  font-size: 16px;

  padding: 7px;
}
