* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section.patient-spk {
    font-family: Lato-Regular, Arial, sans-serif;
    background-color: #f7f5f5;
    overflow: auto;
}

section.patient-spk h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.4em;
    text-align: center;
    border-bottom: 2px ridge rgb(179, 164, 142);
    padding: 20px;
}

section.patient-spk .container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin: 30px;
}

section.patient-spk .content p.name {
    font-weight: bold;
}
section.patient-spk .content p.quote {
    color: grey;
    font-size: 0.8em;
}

section.patient-spk .content > *{
    margin-bottom: 20px;
}